/* Copyright 2024 Gregory Mitchell */

:root {
    --bg: #3d3d3d;
    --bg-2: #2c2c2c;
    --bg-3: #4f4f4f;
    --bg-gradient: linear-gradient(180deg, #212121 0%, var(--bg) 100%);

    --text: #fff;
    --color-text: cyan;
    --color-text-2: darkcyan;
    --link-color: greenyellow;

    --shadow: 0 10px 20px -5px rgb(0, 0, 0);
}

html {
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

body {
    overflow-y: hidden;
    min-height: 100%;
}

html, body {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    background: var(--bg);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: color 0.25s ease-in-out;
}

a:hover {
    color: var(--link-color);
    transition: color 0.25s ease-in-out;
}

h1, h2 {
    text-shadow: black 0 2px 8px;
}

h3 {
    font-size: 1em;
}

h1, h2, h3, p, a {
    color: var(--text);
}

p img {
    box-shadow: var(--shadow);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    row-gap: 2vh;

    margin-top: 2vh;

    color: var(--text);
}

.box p {
    text-align: center;
}

.condensed {
    padding: 0 20%;
}

.horizontal {
    flex-direction: row;
    column-gap: 2vw;
}

#logo {
    min-width: 96px;
    min-height: 96px;
    width: auto;
    height: 20vh;
    max-width: 256px;
    max-height: 256px;
}

.medium-img {
    min-width: 64px;
    min-height: 64px;
    width: auto;
    height: 10vh;
    max-width: 128px;
    max-height: 128px;
}

.dynamic {
    transition: transform 0.5s ease-in-out;
}

.dynamic:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

.banner {
    height: auto;
    width: 50vw;
    justify-self: center;
    box-shadow: var(--shadow);
    border-radius: 5em !important;
    transition: transform 0.5s ease-in-out;
}

.banner:hover {
    transform: scale(1.05) rotateZ(-3deg);
    transition: transform 0.5s ease-in-out;
}

/* Header */

header {
    background: var(--bg-gradient);

    min-height: 7vh;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-left: 6vw;

    overflow-x: auto;
}

header a {
    font-weight: bold;
    font-size: 1.25em;
    text-shadow: black 0 2px 8px;
}

.header-links {
    display: flex;
    column-gap: 3vw;
    align-items: center;
}

/* Benchmark Items */

.benchmark-parent {
    display: grid;

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10vw;
    row-gap: 5vh;

    min-height: 30vh;
    margin: 0 5vw;
}

.benchmark {
    border: var(--bg) 4px solid;
    background-color: var(--bg-3);
    box-shadow: var(--shadow);

    width: 20vw;
    min-height: 128px;
    min-width: 64px;
    max-height: 512px;
    max-width: 256px;

    padding: 1vh 1vw 2vh 1vw;

    transition: transform 0.5s ease-in-out;
}

.benchmark:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

.benchmark h2 {
    margin: 0;
}

.benchmark h3 {
    font-size: small;
    font-weight: normal;
    color: var(--color-text-2);
}

.benchmark a {
    color: var(--text);
}

.benchmark-top {
    margin-bottom: 4vh;
}

.benchmark-top span {
    opacity: 70%;
    background-color: var(--bg-2);
    border: 1px solid black;

    padding: 4px;
}