/* Copyright 2024 Gregory Mitchell */

:root {
    --bg: #3d3d3d;
    --bg-2: #2c2c2c;
    --bg-3: #4f4f4f;
    --bg-4: #efefef;
    --bg-gradient: linear-gradient(180deg, #212121 0%, var(--bg) 100%);

    --dark-gold: #b8860b;
    --dark-silver: #aaaaaa;
    --dark-bronze: #cd7f32;

    --text: #fff;
    --color-text: cyan;
    --color-text-2: darkcyan;
    --link-color: greenyellow;

    --shadow: 0 10px 20px -5px rgb(0, 0, 0);
}

html {
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

body {
    overflow-y: hidden;
    min-height: 100%;
}

main {
    height: 100%;
    width: 100%;
    min-height: 88vh;
    min-width: 100vw;
}

html, body, main {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    background: var(--bg);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: color 0.25s ease-in-out;
}

a:hover {
    color: var(--link-color);
    transition: color 0.25s ease-in-out;
}

h1, h2 {
    text-shadow: black 0 2px 8px;
}

h3 {
    font-size: 1em;
}

h1, h2, h3, p, a {
    color: var(--text);
}

p img {
    box-shadow: var(--shadow);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    flex-direction: column;
    row-gap: 2vh;

    margin-top: 2vh;

    color: var(--text);
}

.box p {
    text-align: center;
    margin: 0;
}

.box h1 {
    margin-bottom: 0;
}

.condensed {
    padding: 0 20%;
}

.horizontal {
    flex-direction: row;
    column-gap: 2vw;
}

#logo {
    min-width: 96px;
    min-height: 96px;
    width: auto;
    height: 20vh;
    max-width: 256px;
    max-height: 256px;
}

.medium-img {
    min-width: 64px;
    min-height: 64px;
    width: auto;
    height: 10vh;
    max-width: 128px;
    max-height: 128px;
}

.dynamic {
    transition: transform 0.5s ease-in-out;
}

.dynamic:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

.rounded {
    border-radius: 1em;
    border: 2px solid white;
}

.banner {
    height: auto;
    width: 50vw;
    justify-self: center;
    box-shadow: var(--shadow);
    border-radius: 5em !important;
    transition: transform 0.5s ease-in-out;
}

.banner:hover {
    transform: scale(1.05) rotateZ(-3deg);
    transition: transform 0.5s ease-in-out;
}

/* Header */

header {
    background: var(--bg-gradient);

    min-height: 7vh;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-left: 6vw;

    overflow-x: auto;
}

header a {
    font-weight: bold;
    font-size: 1.25em;
    text-shadow: black 0 2px 8px;
}

.header-links {
    display: flex;
    column-gap: 3vw;
    align-items: center;
}

/* Benchmark Items Page */

.benchmark-root {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    margin-bottom: 6vh;
}

.benchmark-root > h1 {
    margin-bottom: 0;
}

.benchmark-root > div.platform-logo {
    width: 10vw;
    height: auto;
    max-width: 128px;
    max-height: 128px;

    border: 3px solid black;
    background-color: white;
    border-radius: 50%;
    padding: 2em;

    transition: transform 0.5s ease-in-out;
}

.benchmark-root > div.platform-logo:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

img.platform-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.benchmark-root h2 {
    padding-bottom: 0.5vh;
    border-bottom: 3px solid white;
}

#benchmark-search {
    width: 80%;
    height: 4vh;

    border-radius: 0.75em;
    border: 3px solid var(--bg-2);
    background-color: var(--bg-4);
    outline: none;
    box-shadow: var(--shadow);

    padding-left: 1vw;
    margin-bottom: 4vh;
}

.benchmark-parent {
    display: grid;

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 10vw;
    row-gap: 5vh;

    min-height: 30vh;
    margin: 0 5vw;

    border-top: 4px solid var(--bg-3);
    padding-top: 2vh;
}

.benchmark {
    border: var(--bg) 4px solid;
    background-color: var(--bg-3);
    box-shadow: var(--shadow);

    width: 20vw;
    min-height: 128px;
    min-width: 64px;
    max-height: 512px;
    max-width: 256px;

    padding: 1vh 1vw 2vh 1vw;

    transition: transform 0.5s ease-in-out;
}

.benchmark:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

.benchmark h2 {
    margin: 0;
}

.benchmark h3 {
    font-size: small;
    font-weight: normal;
    color: var(--color-text-2);
}

.benchmark a {
    color: var(--text);
}

.benchmark-top {
    margin-bottom: 4vh;
}

.benchmark-top span {
    opacity: 70%;
    background-color: var(--bg-2);
    border: 1px solid black;

    padding: 4px;
}

/* Benchmark Page */
#top {
    row-gap: 1vh;
}

#tags {
    margin: 0;
}

#tags span {
    color: var(--link-color);
    background-color: var(--bg-2);
    padding: 1vh 1vw;
    border: 1px solid white;
    border-radius: 1em;
}

#all-time div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#all-time div div {
    display: flex;
    align-items: center;
    width: 46%;
}

#all-time div div img {
    width: 100%;
    height: auto;
}

.benchmark-table td, th {
    border: 1px solid white;
    padding: 1vh 1vw;
}

.ranked tr:nth-child(2) {
    background-color: var(--dark-gold) !important;
}

.ranked tr:nth-child(3) {
    background-color: var(--dark-silver) !important;
}

.ranked tr:nth-child(4) {
    background-color: var(--dark-bronze) !important;
}

.benchmark-table tr:nth-child(even) {
    background-color: var(--bg-2);
}

.benchmark-table tr:nth-child(odd) {
    background-color: var(--bg-3);
}

.benchmark-separator {
    width: 90%;
}

/* Versus Page */
div.language-logo {
    width: 8vw;
    min-width: 110px;
    height: 20vh;
    min-height: 170px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--bg-2);
    border: 2px solid black;
    border-radius: 0.25em;
}

img.language-logo {
    height: auto;
    width: 95%;
    object-fit: cover;
}

/* Footer */
footer {
    background-color: var(--bg-2);
    height: 5vh;
    width: 100%;

    display: flex;
    margin-top: 4vh;
    padding-bottom: 3vh;

    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: monospace;
}

.footer-text {
    color: var(--text);
    font-size: calc(6px + 1vh);
    padding-top: 3vh;
}